@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  font-family: 'Poppins', sans-serif !important;
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #363c42;
  border-radius: 20px;
  border: none;
  background-clip: content-box;
}

.nav-link.active{
  border-bottom: 3px solid #00bfff;
  border-radius: 5px;
  background: #252C33;
}

.nav-link.active:hover{
  border-bottom: 3px solid #aeaeae;
  background: #212529;
}

a {
  color: #9cd4d5;
}

.gambar-profil {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  mask-image: radial-gradient(circle at center, transparent 50%, white 60%);
}

.lingkar {
  border-radius: 50%;
}

.masking {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  position: relative;
}

.hover-anim {
  transition: all 0.3s ease-in-out;
}

.hover-anim:hover {
  transform: scale(1.1);
}

/* background */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

.bgAnimation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(20, 1fr);
  background: #212529;
  filter: saturate(2);
  overflow: hidden;
}

.colorBox {
  z-index: 2;
  filter: brightness(1.1);
  transition: 2s ease;
  position: relative;
  margin: 2px;
  background: #212529;
}

.colorBox:hover {
  background: #dfdcd4;
  transition-duration: 0s;
}

.backgroundAmim {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background: #dfdcd4;
  filter: blur(60px);
  animation: animBack 6s linear infinite;
}

@keyframes animBack {
  0% {
    top: -60px;
  }
  100% {
    top: 120%;
  }
}
