@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  font-family: 'Poppins', sans-serif !important;
}

/* Color Pallet */
:root {
  --bg-color: #363c42;
  --body-color: #212529;
  --text-color: #adb5bd;
  --dark: #23272f;
  --text-white: #fff;
  --blue: #00bfff;
  --yellow: #f9bd08;
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--bg-color);
  border-radius: 20px;
  border: none;
  background-clip: content-box;
}

a {
  color: #9cd4d5;
}

.gambar-profil {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  mask-image: radial-gradient(circle at center, transparent 50%, white 60%);
}

.lingkar {
  border-radius: 50%;
}

.masking {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  position: relative;
}

.hover-anim {
  transition: all 0.3s ease-in-out;
}

.hover-anim:hover {
  transform: scale(1.1);
}

/* Home */
.bg-hero {
  background-color: var(--bg-color) !important;
  opacity: 0.8;
}

.card-body p {
  text-color: var(--text-white) !important;
}

/* background animation */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

.bgAnimation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 130vh;
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(20, 1fr);
  background: var(--body-color);
  filter: saturate(2);
  overflow: hidden;
  z-index: -1;
}

.colorBox {
  z-index: 2;
  filter: brightness(1.1);
  transition: 2s ease;
  position: relative;
  margin: 2px;
  background: var(--body-color);
}

.colorBox:hover {
  background: var(--blue);
  transition-duration: 0s;
}

.backgroundAmim {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background: var(--blue);
  filter: blur(60px);
  animation: animBack 6s linear infinite;
}

@keyframes animBack {
  0% {
    top: -60px;
  }
  100% {
    top: 120%;
  }
}

/* -------------------------------------------------
Hero Section
---------------------------------------------------- */
section.hero {
  padding: 30px 0;
}

section.hero .text h1 {
  font-weight: 500;
  font-size: 52px;
  line-height: 72px;
  padding-top: 20px;
  color: var(--text-white);
}

section.hero .text p {
  font-size: 30px;
  line-height: 44px;
  color: var(--text-white);
}

section.hero .btn {
  font-size: 17px;
  font-weight: 700;
}

section.hero .btn-primary {
  background-color: var(--yellow);
  color: var(--dark);
}

.abt-sec{
  margin-top: 100px;
  background: linear-gradient(rgba(39,45,52,.2), 40%, rgba(33, 37, 41, 1));
}

.abt{
  background-color: transparent !important;
}

.fut{
  background: linear-gradient(rgba(33, 37, 41, .9), 10%, rgba(33, 37, 41, 1));
}

.txt-pfp{
  background: linear-gradient(rgba(33, 37, 41, .5), 60%, rgba(33, 37, 41, 1));
  color: var(--text-white);
  font-size: 20px;
  font-weight: 600;
  transition: 0.5s;
}

.txt-pfp .nim{
  font-size: 15px;
  font-weight: 400;
}

.txt-pfp:hover{
  background: linear-gradient(rgba(33, 37, 41, .5), 60%, rgba(33, 37, 41, 1));
  transition: 0.5s;
  opacity: 0.5;

}

.card-pfp{
  border: 2px solid #DFDCD4;
  border-radius: 5px;
}